@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
:root{
  overflow-x: hidden;
}
* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body {
	height: 100vh;
	font-family:  "Roboto", sans-serif;
  overflow-x: hidden;
    
}

.contact-in {
    width: 100vw;
    
}

/*nav  section starts here*/
nav a {
  text-decoration: none;
  transition: all 0.4s ease;
  font-weight: 700;
}


.navbar {
  box-shadow: 0 12px 20px rgba(0, 0, 0, 0.1);
  background-color: #fff;
}

#placehead {
  margin:auto;
}

.nav-link {
  margin: 10px;
  text-align: center;
  transition: all 0.3s ease;
  border-style: ridge;
  border-radius: 10px;
  border-color: rgb(203, 203, 238);
  background-color: rgb(158, 12, 12);
}

.active {
  background-color: rgb(14, 14, 95);
}

.nav-link:hover {
  background-color: rgb(14, 14, 95);
  transform: translateY(-5px);
}
/*navbar ends here*/

.header{
  background-image: url("../Images/Images/IMG_2255.JPG");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
   height: 100vh;
   
}
.page {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  text-align: center;
  background-color: rgba(255, 255, 255, 0.696);
  width: 450px;
}
.page h1{
  font-size: 60px;
  font-family:'Roboto' ;
  font-weight: 100;
  color: rgb(158, 12, 12);
}  

  .contact-in iframe{
    width: 100vw;
    overflow-x: hidden;
  }

  .contact-in{
    margin: 0;
  }
  
  @media (max-width: 760px) {
    body{
        overflow-x: hidden;
    }
   
  }
  @media (max-width: 479px) {
    .page h1{
      font-size: 40px;
    }
  }

/* Google Font CDN Link */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

main{
  min-height: 100vh;
  width: 100%;
  background: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

.webform{
  width: 85%;
  background: #fff;
  border-radius: 10px;
  padding: 20px 60px 30px 40px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}
.webform .content{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.webform .content .left-side{
  width: 25%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 15px;
  position: relative;
}
.content .left-side::before{
  content: '';
  position: absolute;
  height: 70%;
  width: 2px;
  right: -15px;
  top: 50%;
  transform: translateY(-50%);
  background: #afafb6;
 
}
.content .left-side .details{
  margin: 14px;
  text-align: center;
}
.content .left-side .details i{
  font-size: 30px;
  color: rgb(158, 12, 12);
  margin-bottom: 15px;
 
}
.content .left-side .details .topic{
  font-size: 18px;
  font-weight: 500;
  
}
.content .left-side .details .text-one,
.content .left-side .details .text-two{
  font-size: 14px;
  color: #afafb6;
  
}

.webform .content .right-side{
  width: 75%;
  margin-left: 75px;
  
}
.webform .right-side .topic-text{
  font-size: 23px;
  font-weight: 600;
  color:rgb(158, 12, 12);
 
  
}
.right-side .input-box{
  height: 50px;
  width: 100%;
  margin: 12px 0;
 
}
.right-side .input-box input,
.right-side .input-box textarea{
  height: 100%;
  width: 100%;
  border: none;
  outline: none;
  font-size: 16px;
  background: #F0F1F8;
  border-radius: 6px;
  padding: 0 15px;
  resize: none;
}
.right-side .message-box{
  min-height: 110px;
}
.right-side .input-box textarea{
  padding-top: 6px;
}
.right-side .button{
  display: inline-block;
  margin-top: 12px;
}
.right-side .button input[type="button"]{
  color: #fff;
  font-size: 18px;
  outline: none;
  border: none;
  padding: 8px 16px;
  border-radius: 6px;
  background: rgb(158, 12, 12);
  cursor: pointer;
  transition: all 0.3s ease;
}
.button{
  width: 100%;
  cursor: pointer;
  margin-bottom: 20px;
}
.button button{
  width: 25%;
  padding: 10px;
  font-size: 20px;
  color: #fff;
  background-color:rgb(158, 12, 12);
  border: none;
  outline: none;
  border-radius: 40px;
  cursor: pointer;
}
.message{
  width: 100%;
  position: relative;
  margin-bottom: 60px;
  display: flex;
  justify-content: center;
}
.message .success{
  font-size: 20px;
  color: green;
  position: absolute;
  animation: buttons .3s linear;
  display: none;
}
.message .danger{
  font-size: 20px;
  color: red;
  position: absolute;
  transition: .3s;
  animation: buttons .3s linear;
  display: none;
}

@keyframes buttons{
  0%{
      transform: scale(0.1);
  }
  50%{
      transform: scale(0.5);
  }
  100%{
      transform: scale(1);
  }
}
@media (max-width: 950px) {
  .webform{
    width: 90%;
    padding: 30px 40px 40px 35px ;
  }
  .webform .content .right-side{
   width: 75%;
   margin-left: 55px;
}
}
@media (max-width: 820px) {
  .webform{
    margin: 40px 0;
    height: 100%;
  }
  .webform .content{
    flex-direction: column-reverse;
  }
 .webform .content .left-side{
   width: 100%;
   flex-direction: row;
   margin-top: 40px;
   justify-content: center;
   flex-wrap: wrap;
 }
 .webform .content .left-side::before{
   display: none;
 }
 .webform .content .right-side{
   width: 100%;
   margin-left: 0;
 }
}

/*footer starts here*/
footer {
  background: rgb(14, 14, 95);
}

.text-uppercase {
  color: rgb(158, 12, 12);
  font-weight: bold;
}

.back-to-top {
  background-color: rgba(255, 255, 255, 0.7);
  position: fixed;
  display: none;
  left: 0px;
  bottom: 15px;
  z-index:100;
  border: 2px solid #fff;
  border-radius: 10px;
  opacity: 0;
}

.back-to-top:hover {
  background-color: #fff;
  box-shadow: 5px 10px 25px #555;
}

.back-to-top i {
  color: rgb(158, 12, 12);
  font-size: 50px;
  padding: 5px;
}

.back-to-top i:hover {
  font-size: 50px;
  padding: 5px;
}

.hide {
  opacity: 0;
}

.show {
  opacity: 1;
  display: block;
}

  /*media queries*/
  @media (min-width: 768px) {
    #placehead{
      margin-left: 350px;
    }
  }
  
  @media (min-width: 992px) {
    #placehead{
      margin-left: 350px;
    }
  
  }
  
  @media (min-width: 1200px) {
    #placehead{
      margin-left: 350px;
    }
  }
  
  @media (min-width: 1400px) {
    #placehead{
      margin-left: 350px;
    }
  }
  
  @media (min-width: 1600px) {
    #placehead{
      margin-left: 350px;
    }
  }
 