@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: rgba(255, 255, 255, 0.881);
    overflow-x: hidden !important;
}

:root{
    overflow-x:hidden
    }

/*nav  section starts here*/
nav a {
    text-decoration: none;
    transition: all 0.4s ease;
    font-weight: 700;
  }

  .navbar {
    box-shadow: 0 12px 20px rgba(0, 0, 0, 0.1);
    background-color: #fff;
  }
  
  #placehead {
    margin:auto;
  }
  
  .nav-link {
    margin: 10px;
    text-align: center;
    transition: all 0.3s ease;
    border-style: ridge;
    border-radius: 10px;
    border-color: rgb(203, 203, 238);
    background-color: rgb(158, 12, 12);
    text-align: center;
  }
  
  nav .active {
    background-color: rgb(14, 14, 95);
  }
  
  .nav-link:hover {
    background-color: rgb(14, 14, 95);
    transform: translateY(-5px);
  }
/*navbar ends here*/

/* header starts here*/
header .collapse .center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

header .text-uppercase{
    color: rgb(158, 12, 12);
    font-weight: 500px, !important;
}
/**header ends here**/

/**intro section starts here**/
#space1{
    margin-top: -130px;
}
#intromary{
	background-image: url("../Images/May.jpeg");	
}
#introyvette{
	background-image: url("../Images/img3.jpg");	
}
#introganiyat{
	background-image: url("../Images/ganiyat copy.JPG");	
}
#introayishatu{
	background-image: url("../Images/IMG-0766.jpg");
    background-position: 50% 30%;
}
#introchristiana{
	background-image: url("../Images/Crisoal.jpeg");
    background-position: 50% 40%;
    background-color: rgba(0,0,0,0.5);
}
#introfunke{
    background-image: url("../Images/funke1.jpg");
    background-position: 50% 70%;
    background-color: rgba(0,0,0,0.6);
}

.intro{
    background-repeat: no-repeat;
	background-size: cover !important;
	height: 140vh; width: 100%;
	background-position: 50% .9%;
    background-color: rgba(0,0,0,0.5);
    background-blend-mode: overlay;
	top: 0; right: 0; left:0;
	display: flex;
	z-index: 1;
    margin-bottom: 180px;
    overflow-x: hidden;
}

.intro .container-fluid{
    color: #fff; 
    overflow: hidden;
}

.intro .text{
    width: 40%;
    position: absolute;
    bottom: 30px;
    margin-left: 60px;
}
.intro .container-fluid .text h1{
	font-size: 50px;
    font-weight: 600;
}

.intro .container-fluid .text h5{
	word-spacing: 30px;
}


/**intro section ends here**/

/**arrow styles starts here**/
.arrow{
    margin-left: 50%; margin-right: 50%;
    position: absolute;
    bottom: 0;
}

.arrow span{
    display: block;
    width: 30px;
    height: 30px;
    border-bottom: 2px solid #fff;
    border-right: 2px solid #fff;
    transform: rotate(45deg);
    margin: -10px;
    animation: scroll 2s infinite;
}

.arrow span:nth-child(2){
    animation-delay: -.2s;
}

.arrow span:nth-child(3){
    animation-delay: -.4s;
}

@keyframes scroll{
    0% {
        opacity: 0;
        transform: rotate(45deg) translate(-20px, -20px);
    }
    50% {
          opacity: 1;
    }
    100% {
        opacity: 0;
        transform: rotate(45deg) translate(20px, 20px);
    }
}
/**arrow styles ends here**/

/**content-wrapper styles ends here**/
.content-wrapper{
    padding: 100px 102.4px 50px 102.4px;
    justify-content: center;
    width: 100%;
    overflow-x: hidden;
}
.content-wrapper .row{
    width: 100%;
}

.content-wrapper .row #col2 div {
    margin-top: 8pc;
    margin-left: 30px;
    width: 80%;
}

/* The element to apply the animation to */
.content-wrapper .row #col1 img{
    margin-left: 60px;
    position: relative;
    height: 37rem;
}

.content-wrapper .row h3{
    font-weight: 600;
    font-size: 41px;
    font-style: normal;
    letter-spacing: 0em;
    text-transform: none;
    margin-block-start: 1em;
    margin-block-end: 1em;
    text-align: left;
}

.content-wrapper .row p{
    display: block;
    font-style: normal;
    letter-spacing: .02em;
    text-transform: none;
    text-align: justify;
    word-spacing: 2px;
}
/**content-wrapper styles ends here**/

/* The element to apply the animation to */
.content-wrapper-ayi .row #col1 img{
    margin-left: 60px;
    animation-timing-function: ease-out;
    position: relative;
    animation:  xaml 3s;
}


/**header-text section starts here**/

#header-text{
    color:#333;
    height: 50vh;
    background-color: #ddd;
    justify-content: center;
    align-items: center;
}

#header-text h3{
    font-weight: 600;
    font-size: 40px;
    padding: 140px 0 50px 0; 
    position: relative;
    justify-content: center;
    align-items: center;
}
#header-text h3::after{
    content: "";
    border-bottom: 4px solid rgb(158, 12, 12);
    display: block;
    width: 80px;
    margin-left: 46.3%; margin-right: 50%;
    margin-top: 10px;
    position: absolute;
    bottom: 0; left: 0; right:0
}

/**header-text section ends here**/

/** sidemenu starts here**/

#vertical-menu{
    height: 110vh;
    --top-offset: 10px;
    width: 100%;
    background: #f4f4f4;
    color: #333;
    margin-bottom: 50px;
}
#vertical-menu .side{
      opacity: 1;
      position: absolute;
      font-size: 25px;
      right: 80px;
      writing-mode: vertical-lr;
      transform: rotate(180deg);
      margin-top: 20px;
}

.sidemenu{
    padding-top: 100px;
    list-style: none; 
    padding-bottom: 28px;
    display: flex;
    flex-direction: column;
    flex: 1;
    border-right: 0.6px solid;
    height: 110vh;
    width: 100%;
}


.sidemenu a{
    letter-spacing: .4px;
    font-weight: 700;
    text-decoration: none;
    padding: 1.4rem 0 1rem 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    color: #333;
    --opacity: 1;
    --subtitle-opacity: 0.5;
    --transition-delay-stagger: 5ms;
    cursor: pointer;
}

.sidemenu li.active{
    border-right: 2.5px solid darkred;
    color: #0d6efd;
}

.menu-item_title-container{
    height: 85vh;
    width: 35%;
    
}

.menu-item_index{
    font-size: .625rem;
    letter-spacing: .00625rem;
    color: #333;
    transition: all .3s cubic-bezier(.215,.61,.355,1);
    opacity: var(--subtitle-opacity);
}

.menu-item_title{
    vertical-align: middle;
    text-align: left;
    padding-top: 5px;
    font-size: 1.5rem;
    font-weight: 600;
    line-height: 2rem;
    transition: color .6s cubic-bezier(.215,.61,.355,1);
    opacity: var(--opacity)
}


.sidemenu .border-bottom{
    width: auto;
    border-bottom: 0.6px solid #333 !important;
}

#vertical-menu ul{
    padding-left: 5rem;
    margin-bottom: 0;
}

#vertical-menu .container-fluid{
    margin: 0;
    padding: 0;
    display: flex;
}

#vertical-menu .content{
    padding-top: 60px;
    padding-bottom: 60px;
    width: 90%;
    word-wrap: break-word;
    height: 100vh;
    overflow-y: scroll;
}
#vertical-menu .content li{
    display: none;
    padding-left: 10px;
    padding-right: 80px;
    text-align: justify;
}
#vertical-menu .content li.active{
    display: block;
}

#background p{
    margin-top: 3rem;
    width: 85%;
    word-spacing: 5px;
}
 
#alu p {
    margin-top: 3rem;
    width: 85%;
    word-spacing: 5px;
}
 
#experience p {
    margin-top: 3rem;
    width: 85%;
    word-spacing: 5px;
}
#social p {
    margin-top: 3rem;
    width: 85%;
    word-spacing: 5px;
}
#ideas p {
    margin-top: 3rem;
    width: 85%;
    word-spacing: 5px;
}


/**sidemenu ends here**/


/**icons styles starts here**/
.icons{
   display: flex;
   justify-content: center;
}
.icons ul{
     display: flex;  
     padding-left: 0;
} 
.icons ul li{
    list-style: none;
}
.icons ul li a{
		width: 50px;
        height: 50px;
        display: block;
        text-align: center;
        margin: 0 10px;
        border-radius: 50%;
        padding: 5px;
        text-decoration: none;
        box-shadow: 0 10px 15px rgba(0, 0, 0, 0.3);
        background: linear-gradient(0deg, #ddd, #fff);
        transition: .5s;
} 
.icons ul li a:hover{
   box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}
.icons ul li a .fab{
    width: 100%;
    height: 100%;
    display: block;
    background: linear-gradient(0deg, #fff, #ddd);
    border-radius: 50%;
    line-height: 41px;
    font-size: 20px;
    color: #262626;
    transition: .5s;
}
.icons ul li:nth-child(1) .fab{
    color: #3b5998;
}
.icons ul li:nth-child(2) .fab{
    color: #ed1800;
}
.icons ul li:nth-child(3) .fab{
    color: #0d6efd;
}
.icons ul li:nth-child(4) .fab{
    color: #007bb6;
}
/**icons styles ends here**/

/*media query for responsiveness starts here*/

@media (max-width: 768px) {
    /*for intro class*/

    .intro .container-fluid .text{
        margin-left: 20px;
    }
    .intro .container-fluid .text h1{
        font-size: 40px;
    }
    .intro .container-fluid .text h5{
        font-size: 15px;
    }
}

@media (max-width: 1290px) {
    .content-wrapper{
        padding: 100px 80px 50px 80px;
    }
    .content-wrapper .row #col1 img{
        margin-left: 20px;
        height: 30rem;
    }
    .content-wrapper .row #col2 div{
        margin-top: 4pc;
    }
}
@media (max-width: 1090px) {
    .content-wrapper{
        padding: 100px 50px 50px 50px;
    }
    .content-wrapper .row #col1 img{
        margin-left: 0;
        height: 30rem;
    }
    .content-wrapper .row #col2 div{
        margin-top: 3.5pc;
    }
    #vertical-menu #col1{
        width: 100% !important;
        margin-bottom: 20px !important;
    }
    #vertical-menu #col2{
        width: 100% !important;
        margin-bottom: 20px !important;
    }
    #vertical-menu #col3{
        width: 100% !important;
        margin-bottom: 20px !important;
    }
    #vertical-menu #col4{
        width: 100% !important;
        margin-bottom: 20px !important;
    }
    #background p, #alu p, #experience p, 
    #social p, #ideas p{
        width: 100% !important;
    }
}

@media (max-width: 912px){
    .content-wrapper{
        padding: 100px 80px 50px 80px;
    }
    .content-wrapper .row #col1 img{
        margin-left: 0;
        height: 38rem;
    }
    .content-wrapper .row #col2 div{
        margin-left: 25px;
    }
    
}

@media (max-width: 576px){
    .content-wrapper{
        padding: 100px 50px 50px 50px;
    }
    .content-wrapper .row #col1 img{
          height: 28rem;
    }
   
    
}
  
@media (max-width: 1270px){
    .sidemenu .border-bottom{
        width: 300px;
    }
   
    
}

@media (min-width: 879px) and (max-width: 1103px){
    #vertical-menu ul{
        padding-left: 3rem;
    }
    .sidemenu .border-bottom{
        width: 260px;
    }
    
}

@media (max-width: 880px){
    .sidemenu .border-bottom{
        width: 400px;
    }
    .sidemenu{
        justify-content: center;
        list-style: none; 
        padding-bottom: 28px;
        display: flex;
        border-right: 0.6px solid;
        height: 100vh;
        width: 100%;
    }
    #vertical-menu .content{
        width: 100%;
        height: 100vh;
    }
    #vertical-menu .container-fluid{
        display: flex;
    }
   
    #vertical-menu ul{
        padding-left: 6rem;
    }
}

@media (min-width: 740px) and (max-width: 870px){
    #vertical-menu ul{
        padding-left: 3rem;
    } 
    .sidemenu .border-bottom{
        width: 200px;
    }
    .menu-item_title-container{
        width: 40%;
    }
}

@media (max-width: 740px){
    .sidemenu{
        height: 85vh;
    }
    .sidemenu .border-bottom{
        width: 300px;
    }
    #vertical-menu .container-fluid{
        display: block;
    }
    #vertical-menu .content{
        margin-top: 50px;
        overflow: hidden;
        height: auto;
    }
    .menu-item_title-container{
        width: 55%;
    }
    #vertical-menu ul{
        padding-left: 6rem;
    }
    
}

@media (max-width: 546px){
    .sidemenu .border-bottom{
        width: 250px;
    }
    #vertical-menu ul{
        padding-left: 3rem;
    } 
    .menu-item_title-container{
        width: 79%;
    }
    #vertical-menu .content li{
      padding-right: 55px;
    }
    
}

/********** Super extra small devices Only :-) (e.g., iPhone 4) starts here **********/
@media (max-width: 490px){
    .content-wrapper{
        padding: 100px 20px 50px 20px;
    }
    .content-wrapper .row #col1 img{
          height: 22rem;
    }
    #vertical-menu ul{
        padding-left: 1rem;
      }
}

@media (max-width: 280px){
    .content-wrapper .row #col1 img{
        height: 15rem;
  } 
  .sidemenu .border-bottom{
    width: 220px;
   }
  
  .content img{
   height: 14rem !important;
  }
}

/********** Super extra small devices Only :-) (e.g., iPhone 4) ends here **********/


/*media query for responsiveness ends here*/

#disqus_thread{
    padding: 20px;
    margin: 90px;
    border: 3px solid #999;
    border-radius: 5px;

}

/*footer starts here*/
footer {
    background: rgb(14, 14, 95);
  }
  
  .text-uppercase {
    color: rgb(158, 12, 12);
    font-weight: 500px,  !important;
  }
  
  .back-to-top {
    background-color: rgba(255, 255, 255, 0.7);
    position: fixed;
    display: none;
    left: 0px;
    bottom: 50px;
    z-index: 100;
    border: 2px solid #fff;
    border-radius: 10px;
    opacity: 0;
  }
  
  .back-to-top:hover {
    background-color: #fff;
    box-shadow: 5px 10px 25px #555;
  }
  
  .back-to-top i {
    color: rgb(158, 12, 12);
    font-size: 50px;
    padding: 5px;
  }
  
  .back-to-top i:hover {
    font-size: 50px;
    padding: 5px;
  }
  
  .hide {
    opacity: 0;
  }
  
  .show {
    opacity: 1;
    display: block;
  }

    /*media queries*/
@media (min-width: 768px) {
    #placehead{
      margin-left: 350px;
    }
  }
  
  @media (min-width: 992px) {
    #placehead{
      margin-left: 350px;
    }
  
  }
  
  @media (min-width: 1200px) {
    #placehead{
      margin-left: 350px;
    }
  }
  
  @media (min-width: 1400px) {
    #placehead{
      margin-left: 350px;
    }
  }
  
  @media (min-width: 1600px) {
    #placehead{
      margin-left: 350px;
    }
  }