@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

body {
    max-width: 100%;
    overflow-x: hidden;
    font-family: "Roboto", sans-serif;
}

h3 {
    font-weight: 800px;
}

#home {
    padding-top: 80px;
    padding-bottom: 80px;
    margin-top: 50px;
    z-index: 2;
    position: relative;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to right, rgba(158, 12, 12, 0.6), rgba(14, 14, 95, 0.8));
    z-index: -1;
}

.bg-cover {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.col-12 {
    padding: 30px;
    line-height: 1.8;
}

nav a {
    text-decoration: none;
    transition: all 0.4s ease;
    font-weight: 700;
}


.navbar {
    box-shadow: 0 12px 20px rgba(0, 0, 0, 0.1);
    background-color: #fff;
}

.collapse img {
    margin-left: 350px;
}

.nav-link {
    margin: 10px;
    transition: all 0.3s ease;
    border-style: ridge;
    border-radius: 10px;
    border-color: rgb(203, 203, 238);
    background-color: rgb(158, 12, 12);
}

.active {
    background-color: rgb(14, 14, 95);
}

.nav-link:hover {
    background-color: rgb(14, 14, 95);
    transform: translateY(-5px);
}

.hero-section {
    min-height: 100vh;
    justify-content: center;
    align-items: center;
}

.carousel {
    margin-left: 20px;
    margin-right: 20px;
}

.carousel-content {
    position: relative;
    text-align: center;
    color: white;
}

.carousel-item img {
    height: 300px;
    width: 100%;
    object-fit: cover;
}

.carousel-text {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.806);
    width: 100%;
    top: 89%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    -webkit-transition: all 0.4s;
    transition: all 0.4s;
    color: #fff;
    border-radius: 10px;
}

.carousel-content:hover .carousel-text {
    opacity: 1;
}

.more {
    text-align: center;
    padding-top: 40px;
}

.button {
    padding: 14px 22px;
    transition: all 0.3s ease;
    text-decoration: none;
    background-color: rgb(158, 12, 12);
    border-radius: 100px;
    border: ridge;
    font-weight: 600;
    color: #fff;
}

.button:hover {
    color: #fff;
    background-color: rgb(14, 14, 95);
    transform: translateY(-5px);
}

.spacer {
    height: 100px;
}

.embed-responsive{
    padding: 70px;
}

.embed-responsive-item{
    height: 500px;
    width: 100%;
    object-fit: contain;
}

.container.gallery-container {
    background-color: #fff;
    color: #35373a;
    height: 700px;
    padding: 10px 5px;
    overflow: hidden;
}

.gallery-container h1 {
    text-align: center;
    margin-top: 5px;
    font-family: 'Droid Sans', sans-serif;
    font-weight: bold;
}

.gallery-container p.page-description {
    text-align: center;
    margin: 5px auto;
    font-size: 18px;
    color: #999;
}

.tz-gallery {
    padding: 5px;
    height: 300px;
}

/* Override bootstrap column paddings */
.tz-gallery .row > div {
    padding: 10px;
}

.tz-gallery .lightbox img {
    height: 150px;
    width: 100%;
    object-fit: cover;
    position: relative;
}

img.zoom{
    transition: all;
    -webkit-transition:all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
}

img.zoom:hover{
    -webkit-transform: scale(1.1);
    -moz-transform:scale(1.1);
    -o-transform:scale(1.1);
    transform:scale(1.1);
}

.tz-gallery .lightbox:before {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -13px;
    margin-left: -13px;
    opacity: 0;
    color: #fff;
    font-size: 26px;
    font-family: 'Glyphicons Halflings';
    content: '\e003';
    pointer-events: none;
    z-index: 9000;
    transition: 0.4s;
}


.tz-gallery .lightbox:after {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    opacity: 0;
    background-color: rgba(46, 132, 206, 0.7);
    content: '';
    transition: 0.4s;
}

.tz-gallery .lightbox:hover:after,
.tz-gallery .lightbox:hover:before {
    opacity: 1;
}

.baguetteBox-button {
    background-color: transparent !important;
}

@media(max-width: 768px) {
    body {
        padding: 0;
    }
}

.map-responsive {
    overflow: hidden;
}

footer {
    background: rgb(14, 14, 95);
}

.text-uppercase {
    color: rgb(158, 12, 12);
    font-weight: 500px,  !important;
}

.back-to-top {
    background-color: rgba(255, 255, 255, 0.7);
    position: fixed;
    display: none;
    left: 0px;
    bottom: 50px;
    z-index: 100;
    border: 2px solid #fff;
    border-radius: 10px;
    opacity: 0;
}

.back-to-top:hover {
    background-color: #fff;
    box-shadow: 5px 10px 25px #555;
}

.back-to-top i {
    color: rgb(158, 12, 12);
    font-size: 50px;
    padding: 5px;
}

.back-to-top i:hover {
    font-size: 50px;
    padding: 5px;
}

.hide {
    opacity: 0;
}

.show {
    opacity: 1;
    display: block;
}