a {
    text-decoration: none;
    transition: all 0.4s ease;
    font-weight: 700;
}
h3{
    font-weight: 800px;
}
.navbar {
    box-shadow: 0 12px 20px rgba(0, 0, 0, 0.1);
    background-color: #fff;

}
.collapse img {
    margin-left: 350px;
}

.nav-link {
    padding: 14px 22px;
    margin: 10px;
    transition: all 0.3s ease;
    border-style: ridge;
    border-radius: 10px;
    border-color: rgb(203, 203, 238);
    background-color: rgb(158, 12, 12);
}
.nav-link:hover{
    transform: translateY(-5px);
}
footer{
    margin-top: 100px;
    background: rgb(14, 14, 95);
}
.text-uppercase{
    color: rgb(158, 12, 12);
    font-weight: 500px, !important;
}
p.text-center{
    color:rgb(4, 4, 130);
    margin-top: 150px;
}
.paragraph{
    background-color: hsla(74, 59%, 81%, 0.3);
}
.paragraph1{
    color: blue;
    font-weight: bold;
    background-color: hsla(74, 59%, 81%, 0.3);
}
.description {
	margin-top: 50px;
    text-align: center;
    color:rgb(34, 4, 134);
}

.description p {
	color: black;
    text-align: center;
	
}
.description button{
    margin-bottom: 500px;
}

.rounded-float-start{
    margin-left: 15px;
    border-radius: 30%;
}
.rounded-float-end{
    margin-left: 30px;
    border-radius: 30%;
}
.card-group{
    box-sizing: border-box;
}
